* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0f172a;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
}

.links, .social {
  display: flex;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e1e2f, #3a3a5f);
}

.hero h1 {
  font-size: 3rem;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  cursor: pointer;
}

/* SECTIONS */
.section {
  padding: 100px 50px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 300px;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}

.card img {
  width: 100%;
  display: block;
  transition: 0.5s;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover .overlay {
  opacity: 1;
}

/* CONTATO */
.links-contato {
  display: flex;
  gap: 20px;
}

html {
  scroll-behavior: smooth;
}

.links-contato {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.links-contato a, .links-contato span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.links-contato i {
  font-size: 20px;
  color: #38bdf8;
}

.social a {
  font-size: 20px;
}

#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#typing {
  font-size: 3rem;
  border-right: 2px solid #38bdf8;
  padding-right: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.card {
  transform-style: preserve-3d;
  transition: transform 0.2s ease;
  perspective: 1000px;
}

#cursor {
  width: 15px;
  height: 15px;
  background: #38bdf8;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}